html{
	background-color:blue;
}
header{
	background: linear-gradient(#FF2CDF,#0014FF);
}

ul{
	list-style: none;
}

a{
	font-size: 40px;
	padding: 20 px;
	color: black;
	text-decoration: none;
}

a:hover{
	font-size: 40px;
	padding: 20 px;
	color: black;
	text-decoration: none;
}


h3{
	background-color: blueviolet;
	color: black;
	text-decoration: none;
}
h1{
	background-color: blueviolet;
	color: black;
	text-decoration: none;
}